@model IEE.Infrastructure.DbContext.SATExamContent

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/ttn_content/Views/Shared/_ttn_content.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SATExamContent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ExamContentIndex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExamContentIndex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AttachImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AttachImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contents)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contents)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Intro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Intro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SATExamForm.Direction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SATExamForm.Direction)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
