@model IEnumerable<IEE.Infrastructure.DbContext.SATExamContent>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ttn_content/Views/Shared/_ttn_content.cshtml";
}

<h2>Nội dung Bài thi</h2>
<h4>Danh sách</h4>
<p>
    @Html.ActionLink("Tạo mới", "Create")
</p>
<table class="table">
    <tr>
       


        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Intro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SATExamForm.SATType.TypeName)
        </th>
        <th>
            Thứ tự hiển thị
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            


            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Intro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SATExamForm.SATType.TypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExamContentIndex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.ID }) |
                @*@Html.ActionLink("Details", "Details", new { id = item.ID }) |*@
                @Html.ActionLink("Xóa", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
