@model PagedList.IPagedList<IEE.Infrastructure.DbContext.SATQuestion>
@using IEE.Infrastructure.DbContext
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ttn_content/Views/Shared/_ttn_content.cshtml";
}

<h2>Danh sách Câu hỏi</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
@using (Html.BeginForm("Index", "Question", FormMethod.Post))
{

    <div class="input-group">
        @Html.TextBox("keyword", ViewBag.CurrentFilter as string, new { @class = "input-sm form-control", @placeholder = "Nhập tiêu đề", @style = "width:50%;float:right;" })
        <span class="input-group-btn">
            <button type="submit" class="btn btn-sm btn-primary"> Tìm kiếm</button>
        </span>
    </div>
}
<table class="table">
    <tr>
        <th>
            Tiêu đề
        </th>
        <th>
            Trạng thái
        </th>

        <th>
            Kiểu
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @MvcHtmlString.Create(item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.SATType.TypeName)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.ID }, new { onclick = "return confirm('Bạn có chắc chắn muốn xóa?');" })
            </td>
        </tr>
    }

</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter }))