@using IEE.ViewModel;
@using IEE.Infrastructure.DbContext
@model PostViewModel
@{
    ViewBag.Title = "Tạo mới bài viết";
    Layout = "~/Areas/ttn_content/Views/Shared/_ttn_content.cshtml";
    List<Category> listCategory = (List<Category>)ViewBag.Categories;
    
}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Tạo mới bài viết</h5>
            </div>
            <div class="ibox-content">
                @using (Html.BeginForm("create", "post", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                {
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Tiêu đề</label>

                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-md-6">
                                    @Html.TextBoxFor(model => model.Title, new { @class = "form-control", maxlength = "250" })
                                    @Html.ValidationMessageFor(model => model.Title)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Tóm lược</label>
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-md-12">
                                    @Html.TextAreaFor(model => model.Summarize, new { @class = "form-control", maxlength = "500", rows="5" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Nội dung</label>
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-md-12">
                                    @Html.TextAreaFor(model => model.Detail, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Detail)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Hình ảnh đại diện</label>
                        <div class="col-sm-10">
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="btn-group">
                                        <label title="Upload image file" for="file" class="btn btn-primary" onclick="document.getElementById('files').click()">
                                            <input type="file" multiple="multiple" name="file" id="files" onchange="preview(this)" class="hide">

                                            Upload hình ảnh
                                        </label>
                                        <div id='previewImg'></div>
                                        @*<img id="displayImg" src="~/Photo/banner/@Model.Photo" style="display: block; width: 100%;" />*@
                                    </div>
                                    <span class="help-block m-b-none">Hình ảnh bài viết nên có kích thước 965px.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">File đính kèm</label>
                        <div class="col-sm-10">
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="btn-group">
                                        <label id="lblAttachFile" title="Upload image file" for="file" class="btn btn-danger" onclick="AddRow()">
                                          

                                            Thêm hàng
                                        </label>
                                      
                                        <div id="listAttachFile">
                                            <input type="text" class="form-control" style="width:400px;" name="AttachFile" placeholder="Nhập link file" />
                                            <br />
                                        </div>
                                     
                                    </div>
                                    @*<span class="help-block m-b-none">Đính kèm file word,excel hoặc mp3.</span>*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Sắp xếp</label>
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-md-2">
                                    <label class="checkbox-inline i-checks">
                                        @Html.TextBoxFor(model => model.OrderNumber, new { @class = "form-control", maxlength = "10", type = "number", step = "any" })
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Nhóm</label>
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-sm-12">
                                    @foreach (var item in listCategory)
                                    {
                                    <div class="row">
                                        <div class="col-sm-12 ">
                                            <label class="checkbox-inline i-checks">
                                                <input type="checkbox"
                                                       name="selectedCategories"
                                                       value="@item.Id" />
                                                <b>@item.Name</b>
                                            </label>
                                        </div>
                                        <div class="col-sm-12" style="margin-bottom:15px;">
                                            @{
                                                var children = item.ChildCategory.Where(t => t.IsDeleted == false&&t.IsMenu);
                                            }
                                            @foreach (var sub in children)
                                            {
                                                if (sub.ChildCategory.Count > 0)
                                                {
                                                <label>
                                                    <label class="checkbox-inline i-checks">
                                                        <input type="checkbox"
                                                               name="selectedCategories"
                                                               value="@sub.Id" />
                                                        @sub.Name
                                                    </label>
                                                    @foreach (var child in sub.ChildCategory.Where(t => t.IsDeleted == false && t.IsMenu))
                                                    {
                                                    <label class="checkbox-inline i-checks">
                                                        <input type="checkbox"
                                                               name="selectedCategories"
                                                               value="@child.Id" />
                                                        @child.Name
                                                    </label>
                                                    }
                                                </label>

                                                }
                                                else
                                                {
                                                <label class="checkbox-inline i-checks">
                                                    <input type="checkbox"
                                                           name="selectedCategories"
                                                           value="@sub.Id" />
                                                    @sub.Name
                                                </label>
                                                }

                                            }
                                        </div>
                                    </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Metakey</label>
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-md-12">
                                    @Html.TextBoxFor(model => model.MetaKey, new { @class = "form-control", maxlength = "250" })
                                    @Html.ValidationMessageFor(model => model.MetaKey)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Meta description</label>
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-md-12">
                                    @Html.TextBoxFor(model => model.MetaDescription, new { @class = "form-control", maxlength = "500" })
                                    @Html.ValidationMessageFor(model => model.MetaDescription)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2">
                            <button class="btn btn-primary" type="submit" name="submit" value="Cancel">   Hủy   </button>
                            <button class="btn btn-primary" type="submit" name="submit" value="Save">   Lưu   </button>
                            <button class="btn btn-primary" type="submit" name="submit" value="Preview">   Lưu & Preview </button>
                            <button class="btn btn-primary" type="submit" name="submit" value="Publish">   Lưu & Xuất bản   </button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2">
                            @Html.ValidationSummary(true)
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- SUMMERNOTE -->
<link href="~/content/ttn_content/plugins/summernote/summernote.css" rel="stylesheet">
<link href="~/content/ttn_content/plugins/summernote/summernote-bs3.css" rel="stylesheet">
<script src="~/scripts/plugins/summernote/summernote.min.js"></script>
<script>
    var roxyFileman = '/Scripts/fileman/index.html';

    CKEDITOR.replace('Detail', {
        filebrowserBrowseUrl: roxyFileman,
        filebrowserImageBrowseUrl: roxyFileman + '?type=image',
        removeDialogTabs: 'link:upload;image:upload'
    });

    function AddRow() {
        $('#listAttachFile').append('<input type="text"  class="form-control" style="width:400px;"  name="AttachFile" placeholder="Nhập link file" /><br/>');
    }
</script>





