@model IEE.ViewModel.TeacherHighlightViewModel
@{
    ViewBag.Title = "Chi tiết thông tin thành viên";
    Layout = "~/Areas/ttn_content/Views/Shared/_ttn_content.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins white-bg">
            <div class="ibox-title">
                <h5>Chi tiết thông tin thành viên</h5>
            </div>
            <div class="ibox-content">
                @using (Html.BeginForm("edit", "teacher", null, FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                {

                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.Photo)
                    @Html.HiddenFor(model => model.CreatedBy)
                    @Html.HiddenFor(model => model.CreatedDate)
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Học Vị </label>

                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-md-6">
                                    @Html.TextBoxFor(model => model.Title, new { @class = "form-control", maxlength = "150" })
                                    @Html.ValidationMessageFor(model => model.Title)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Họ và tên</label>

                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-md-6">
                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", maxlength = "250" })
                                    @Html.ValidationMessageFor(model => model.Name)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Vị trí</label>

                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-md-6">
                                    @Html.TextBoxFor(model => model.Position, new { @class = "form-control", maxlength = "50" })
                                    @Html.ValidationMessageFor(model => model.Position)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Số năm kinh nghiệm</label>

                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-md-2">
                                    @Html.TextBoxFor(model => model.Experience, new { @class = "form-control", maxlength = "3", type = "number" })
                                    @Html.ValidationMessageFor(model => model.Experience)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Tóm lược</label>
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-md-8">
                                    @Html.TextAreaFor(model => model.Summarize, new { @class = "form-control", rows = "5", maxlength = "250" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Chi tiết</label>
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-md-8">
                                    @Html.TextAreaFor(model => model.Detail, new { @class = "form-control", rows = "10", maxlength = "500" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Hình ảnh</label>
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-md-8">
                                    @if (!string.IsNullOrEmpty(Model.Photo))
                                    {
                                        <img id='output' src="/photo/teacher/@Model.Photo" style="width:200px;height:auto;" />
                                    }
                                    else
                                    {
                                        <img id='output' style="width:200px;height:auto;">
                                    }
                                </div>

                                <div class="col-md-12 m-t-md">
                                    <div class="btn-group">
                                        <label title="Upload image file" for="file" class="btn btn-primary">
                                            <input type="file" accept='image/*' @*multiple="multiple"*@ name="file" id="file" for="file" class="hide" onchange='openFile(event)'>
                                            Upload image
                                        </label>
                                    </div>
                                    <span class="help-block m-b-none">Hình ảnh giáo viên nên có kích thước 215px X 215px, là ảnh png hoặc jpg và không lớn hơn 2mb.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Thứ tự hiển thị</label>

                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-md-6">
                                    @Html.TextBoxFor(model => model.DisplayIndex, new { @class = "form-control", type = "number" })
                                    @Html.ValidationMessageFor(model => model.DisplayIndex)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2">

                            <button class="btn btn-primary" type="submit">   Lưu   </button>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


<script>
    var openFile = function (file) {
        var input = file.target;

        var reader = new FileReader();
        reader.onload = function () {
            var dataURL = reader.result;
            var output = document.getElementById('output');
            output.src = dataURL;
        };
        reader.readAsDataURL(input.files[0]);
    };
</script>