@using IEE.ViewModel;
@model CouncilViewModel
@{
    ViewBag.Title = "Tạo mới thành viên hội đồng chuyên môn";
    Layout = "~/Areas/ttn_content/Views/Shared/_ttn_content.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Tạo mới thành viên hội đồng chuyên môn</h5>
            </div>
            <div class="ibox-content">
                @using (Html.BeginForm("create", "council", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                {
                <div class="form-group">
                    <label class="col-sm-2 control-label">Họ và tên</label>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", maxlength = "250" })
                                @Html.ValidationMessageFor(model => model.Name)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Chức vụ/chức danh</label>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.Title, new { @class = "form-control", maxlength = "150" })
                                @Html.ValidationMessageFor(model => model.Name)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Nơi làm việc</label>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.University, new { @class = "form-control", maxlength = "250" })
                                @Html.ValidationMessageFor(model => model.Name)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Hình ảnh đại diện</label>
                    <div class="col-sm-10">
                        <div class="row">

                            <div class="col-md-6">
                                <div class="btn-group">
                                    <label title="Upload image file" for="file" class="btn btn-primary">
                                        <input type="file" multiple="multiple" name="file" id="file" class="hide">
                                        Upload hình ảnh
                                    </label>
                                </div>
                                <span class="help-block m-b-none">Hình ảnh nên có kích thước 345px X 345px, là ảnh png hoặc jpg và không lớn hơn 2mb.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Tóm lược</label>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.Summarize, new { @class = "form-control", maxlength = "250" })
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-2">
                        <button class="btn btn-primary" type="submit">   Lưu   </button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-2">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>

<!-- SUMMERNOTE -->
<link href="~/content/ttn_content/plugins/summernote/summernote.css" rel="stylesheet">
<link href="~/content/ttn_content/plugins/summernote/summernote-bs3.css" rel="stylesheet">
<script src="~/scripts/plugins/summernote/summernote.min.js"></script>
<script>
   
    var roxyFileman = '/Scripts/fileman/index.html';

    CKEDITOR.replace('Summarize', {
        filebrowserBrowseUrl: roxyFileman,
        filebrowserImageBrowseUrl: roxyFileman + '?type=image',
        removeDialogTabs: 'link:upload;image:upload'
    });
</script>
